*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: rgb(211, 206, 206);
    font-family: "Bookman Old Style", sans-serif;
    font-size: clamp(30px, 4vw, 40px);
    align-items: center;

  }



.TitleHeader{
    width: 100%;
    height: 2rem;
    /* background-color: white; */
    padding: 1px;
    display: flex;
   
    justify-content: center;
    
}



.header_container{
    width: 100%;
    height: 80px;
    background-color: inherit;
    padding: 1px;
    display: flex;
    justify-content: center;
}


.month,.year{
    width: 40%;
    height: 80px;
    padding: 1px;
    display: flex;
    background-color: inherit;
   



}






.meiss_container{
    width: 100%;
    height: 730px;
    padding: 1px;
    display: flex;
    background-color: rebeccapurple;   

   
}

.monthlyexpenses{
    height: 100%;
    width: 50%;
    background-color: rgb(129, 114, 127);
  
}

.month_btncontainer{
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.monthnameamount_container{

  width: 100%;
  height: 90%;
  background-color: rgb(248, 248, 248);

}

.month_label,.year_label{

padding: 1px;
background-color: inherit;

}


.monthlyexpenseslabel{
  height: 98%;
  width: 95%;
  background-color: rgb(211, 223, 223);
  padding: 1px;
  display: flex;
  text-align: center;
  justify-content: center;
}


.monthlyexpensesname_row{
   width: 100%;
   height: 5%;
   background-color: inherit;
   display: flex;
   flex-direction: row;
   
}


.monthlyexpenses_name,.monthlyexpense_amount{
    height: 90%;
    width: 40%;
    margin: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: clamp(15px, 1vw, 50px);
    padding: 1px;


}

.btn_add{
    padding: 1px;
    height: 95%;
    width: 60px;
    background-image: url('add-to-playlist.png');
    background-size: 100% ;
    background-repeat: no-repeat;
    padding: 1px;
    cursor: pointer;
 
}

.iss_container{
    height: 100%;
    width: 50%;
    background-color: rgb(145, 159, 185);
    display: flex;
    flex-direction: column;

}


.income,.savings,.summmarize{
    
    height: 35%;
    width: 99%;
    text-align: center;
    font-size: clamp(15px, 2vw, 30px);

}
.income{
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}


.incomebalance_label,.incomedeposit_label,.incometotal_label,.incometotal__text{
  text-align: left;
  height: 26%;
  background-color: inherit;
  padding: 1px;
  display: flex;
  font-size: clamp(15px, 2vw, 30px);
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  

}

.incomebalance_text,.incomedeposit_text{
    height: 50%;
    width: 10%;
    min-width: 30px;
    min-height: 30px;
}


.savings{
    background-image: linear-gradient(to top left, #39b385, #9be15d);

}

.savingsbalance_label,.savingsdeposit_label,.savingstotal_label,.savingstotal__text{
    display: flex;
    text-align: left;
    height: 27%;
    font-size: clamp(15px, 2vw, 30px);
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }

.savingsbalance_text,.savingsdeposit_text{
    height: 50%;
    width: 10%;
    min-width: 30px;
    min-height: 30px;
}

.summmarize{

    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.summmaryincome_label,.summmarysavings_label,.summmaryexpenses_label,.summmarytotal_label{
   
    height: 20%;
    display: flex;
    text-align: center;
    font-size: clamp(15px, 2vw, 30px);
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);

}

.summmaryincome_text,.summmarysavings_text,.summmaryexpenses_text,.summmarytotal__text{
    height: 20%;
    font-size: clamp(15px, 2vw, 30px);
    text-align: center;
    display: flex;
    background-color: #ffcb03;  

}

@media only screen and (max-width: 535px) {
    .header_container {
       flex-direction: column;
    }
    .month, .year{
        width: 100%;
        justify-content: center

    }
}
